<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ThreadQa">
    <listeners>
        <listener class-name="allure.TestAllureListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="ThreadQa">
        <classes>
            <class name="tests.AlertsFrameWindowsTest"/>
            <class name="tests.ElementsTest"/>
            <class name="tests.FormsTest"/>
            <class name="tests.InteractionsTest"/>
        </classes>
    </test>
</suite>